&lt;!-- Modal --&gt;
&lt;div class=&quot;modal fade&quot; id=&quot;peek-student-modal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
        &lt;div class=&quot;modal-content peek&quot;&gt;
            &lt;div class=&quot;modal-header&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;
                &lt;h4 class=&quot;modal-title&quot; id=&quot;myModalLabel&quot;&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Sonya Frost&lt;/a&gt;&lt;/h4&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-sm-6&quot;&gt;
                        &lt;ul class=&quot;fa-ul no-padding peek-meta-data&quot;&gt;
                            &lt;li&gt;Degree/Program: Nursing&lt;/li&gt;
                            &lt;li&gt;Email: &lt;a href=&quot;#&quot;&gt;amy.awesome@gmail.com&lt;/a&gt;&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;col-sm-6 text-right&quot;&gt;
                        &lt;ul class=&quot;fa-ul no-padding peek-meta-data&quot;&gt;
                            &lt;li&gt;Viewed: 45&lt;/li&gt;
                            &lt;li&gt;Favorites: 20&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;hr /&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-sm-6&quot;&gt;
                        &lt;button type=&quot;button&quot; class=&quot;accordion-toggle collapsed btn btn-primary btn-lg&quot; data-toggle=&quot;collapse&quot; data-parent=&quot;#accordion&quot; href=&quot;#collapse-one&quot;&gt;
                            New To-Do &lt;span class=&quot;fa fa-plus&quot;&gt;&lt;/span&gt;
                        &lt;/button&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;col-sm-6 text-right&quot;&gt;
                        &lt;button type=&quot;button&quot; class=&quot;accordion-toggle collapsed btn btn-primary btn-lg&quot; data-toggle=&quot;collapse&quot; data-parent=&quot;#accordion&quot; href=&quot;#collapse-two&quot;&gt;
                            New Message &lt;span class=&quot;fa fa-send&quot;&gt;&lt;/span&gt;
                        &lt;/button&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;panel-group accordion&quot; id=&quot;accordion&quot;&gt;
                        &lt;div class=&quot;panel panel-default&quot;&gt;
                            &lt;div id=&quot;collapse-one&quot; class=&quot;panel-collapse collapse peek-meta-data&quot;&gt;
                                    &lt;form&gt;
                                        &lt;div class=&quot;form-group&quot;&gt;
                                            &lt;label for=&quot;recipient-name&quot; class=&quot;control-label&quot;&gt;Type:&lt;/label&gt;
                                            &lt;select class=&quot;form-control&quot;&gt;
                                                &lt;option&gt;&lt;/option&gt;
                                                &lt;option&gt;Getting Started&lt;/option&gt;
                                                &lt;option&gt;Career Services&lt;/option&gt;
                                                &lt;option&gt;Job: Nursing - Chicago, IL&lt;/option&gt;
                                                &lt;option&gt;Job: Nursing - Columbus, Ohio&lt;/option&gt;
                                            &lt;/select&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;form-group&quot;&gt;
                                            &lt;label for=&quot;to-do-title&quot; class=&quot;control-label&quot;&gt;Title:&lt;/label&gt;
                                            &lt;input id=&quot;to-do-title&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; type=&quot;text&quot; &gt;
                                        &lt;/div&gt;
                                    &lt;/form&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Create&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;panel-group accordion&quot; id=&quot;accordion&quot;&gt;
                    &lt;div class=&quot;panel panel-default&quot;&gt;
                        &lt;div id=&quot;collapse-two&quot; class=&quot;panel-collapse collapse peek-meta-data&quot;&gt;
                            &lt;form&gt;
                                &lt;div class=&quot;form-group&quot;&gt;
                                    &lt;label for=&quot;comment&quot;&gt;Message:&lt;/label&gt;
                                    &lt;textarea class=&quot;form-control&quot; rows=&quot;5&quot; id=&quot;comment&quot;&gt;&lt;/textarea&gt;
                                &lt;/div&gt;
                            &lt;/form&gt;
                            &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Send&lt;/button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;

                &lt;/div&gt;

                &lt;hr /&gt;

                &lt;h5&gt;Favorites&lt;/h5&gt;
                &lt;div class=&quot;peek-meta-data&quot;&gt;
                    &lt;ul class=&quot;list-group&quot;&gt;
                        &lt;li class=&quot;list-group-item&quot;&gt;
                            &lt;div class=&quot;col-xs-3&quot;&gt;
                                3 days ago
                            &lt;/div&gt;
                            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;Nursing&lt;/a&gt;&lt;/div&gt;
                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;list-group-item&quot;&gt;
                            &lt;div class=&quot;col-xs-3&quot;&gt;
                                3 days ago
                            &lt;/div&gt;
                            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;Phlebotomist&lt;/a&gt;&lt;/div&gt;
                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;list-group-item&quot;&gt;
                            &lt;div class=&quot;col-xs-3&quot;&gt;
                                3 days ago
                            &lt;/div&gt;
                            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;Certified Nurse&lt;/a&gt;&lt;/div&gt;
                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;list-group-item&quot;&gt;
                            &lt;div class=&quot;col-xs-3&quot;&gt;
                                3 days ago
                            &lt;/div&gt;
                            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;Nursing&lt;/a&gt;&lt;/div&gt;
                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;list-group-item&quot;&gt;
                            &lt;div class=&quot;col-xs-3&quot;&gt;
                                4 days ago
                            &lt;/div&gt;
                            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;Nursing&lt;/a&gt;&lt;/div&gt;
                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/div&gt;

                &lt;h5&gt;Viewed&lt;/h5&gt;
                &lt;div class=&quot;peek-meta-data&quot;&gt;
                    &lt;ul class=&quot;list-group&quot;&gt;
                        &lt;li class=&quot;list-group-item&quot;&gt;
                            &lt;div class=&quot;col-xs-3&quot;&gt;
                                3 days ago
                            &lt;/div&gt;
                            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;Nursing&lt;/a&gt;&lt;/div&gt;
                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;list-group-item&quot;&gt;
                            &lt;div class=&quot;col-xs-3&quot;&gt;
                                3 days ago
                            &lt;/div&gt;
                            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;Phlebotomist&lt;/a&gt;&lt;/div&gt;
                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;list-group-item&quot;&gt;
                            &lt;div class=&quot;col-xs-3&quot;&gt;
                                3 days ago
                            &lt;/div&gt;
                            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;Certified Nurse&lt;/a&gt;&lt;/div&gt;
                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;list-group-item&quot;&gt;
                            &lt;div class=&quot;col-xs-3&quot;&gt;
                                3 days ago
                            &lt;/div&gt;
                            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;Nursing&lt;/a&gt;&lt;/div&gt;
                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                        &lt;/li&gt;
                        &lt;li class=&quot;list-group-item&quot;&gt;
                            &lt;div class=&quot;col-xs-3&quot;&gt;
                                4 days ago
                            &lt;/div&gt;
                            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;Nursing&lt;/a&gt;&lt;/div&gt;
                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/div&gt;

                &lt;!--&lt;form role=&quot;form&quot;&gt;--&gt;
                    &lt;!--&lt;div class=&quot;form-group&quot;&gt;--&gt;
                        &lt;!--&lt;label for=&quot;invite-email&quot; class=&quot;control-label&quot;&gt;To:&lt;/label&gt;--&gt;
                        &lt;!--&lt;input id=&quot;invite-email&quot; class=&quot;form-control&quot; placeholder=&quot;Name&quot;&gt;--&gt;
                    &lt;!--&lt;/div&gt;--&gt;
                &lt;!--&lt;/form&gt;--&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-footer&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
                &lt;!--&lt;button type=&quot;submit&quot; class=&quot;btn btn-info&quot; onclick=&quot;window.location='{{ link.pages-cs-students-browse }}';&quot;&gt;Recommend&lt;/button&gt;--&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;