&lt;div class=&quot;main-box-body clearfix&quot;&gt;
    &lt;p&gt;Total: 15&lt;/p&gt;
    &lt;ul class=&quot;list-group to-dos&quot;&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-xs-3&quot;&gt;
                1 day ago
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(Chicago, IL - Rush)&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-xs-3&quot;&gt;
                3 days ago
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Awesome Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(St. Louis, MO - BJC Healthcare)&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-xs-3&quot;&gt;
                4 days ago
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(Chicago, IL - Rush)&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-xs-3&quot;&gt;
                4 days ago
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Awesome Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(St. Louis, MO - BJC Healthcare)&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-xs-3&quot;&gt;
                5 days ago
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(Chicago, IL - Rush)&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-xs-3&quot;&gt;
                7 days ago
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Awesome Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(St. Louis, MO - BJC Healthcare)&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-xs-3&quot;&gt;
                10 days ago
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(Chicago, IL - Rush)&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-xs-3&quot;&gt;
                13 days ago
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Awesome Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(St. Louis, MO - BJC Healthcare)&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-xs-3&quot;&gt;
                14 days ago
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(Chicago, IL - Rush)&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-xs-3&quot;&gt;
                14 days ago
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Awesome Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(St. Louis, MO - BJC Healthcare)&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-xs-3&quot;&gt;
                15 days ago
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(Chicago, IL - Rush)&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-xs-3&quot;&gt;
                17 days ago
            &lt;/div&gt;
            &lt;div class=&quot;col-xs-9&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Awesome Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(St. Louis, MO - BJC Healthcare)&lt;/span&gt;&lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
