&lt;div id=&quot;theme-wrapper&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row hidden-lg&quot;&gt;
                            &lt;div class=&quot;col-sm-12&quot;&gt;
                                {{&gt; organisms-bdubs-conversation-small }}
                            &lt;/div&gt;
                        &lt;/div&gt;


                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-md-12 col-lg-8&quot;&gt;
                                &lt;div class=&quot;main-box-body clearfix&quot;&gt;

                                    &lt;ul class=&quot;list-group to-dos&quot;&gt;
                                        &lt;li class=&quot;list-group-item to-do-item-title&quot;&gt;
                                            &lt;strong&gt;&lt;i class=&quot;fa fa-rocket&quot;&gt;&lt;/i&gt; Jobs&lt;/strong&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-6&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;Explore jobs&lt;/a&gt; to find your favorites.&lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                    &lt;/ul&gt;

                                    &lt;ul class=&quot;list-group to-dos&quot;&gt;
                                        &lt;li class=&quot;list-group-item to-do-item-title&quot;&gt;
                                            &lt;strong&gt;&lt;i class=&quot;fa fa-building&quot;&gt;&lt;/i&gt; Employers&lt;/strong&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-6&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;Explore employers&lt;/a&gt; to find your favorites.&lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;/li&gt;
                                    &lt;/ul&gt;

                                &lt;/div&gt;

                            &lt;/div&gt;


                            &lt;div class=&quot;col-lg-4&quot;&gt;

                                &lt;div class=&quot;visible-lg&quot;&gt;
                                    {{&gt; organisms-bdubs-conversation-small }}
                                &lt;/div&gt;

                                    {{&gt; organisms-contact-facilitator }}

                            &lt;/div&gt;

                        &lt;/div&gt;



                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;