&lt;div id=&quot;theme-wrapper&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row hidden-lg&quot;&gt;
                            &lt;div class=&quot;col-sm-12&quot;&gt;
                                {{&gt; organisms-bdubs-conversation-small }}
                            &lt;/div&gt;
                        &lt;/div&gt;


                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-md-12 col-lg-8&quot;&gt;
                                &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                    &lt;ul class=&quot;list-group to-dos&quot;&gt;
                                        &lt;li class=&quot;list-group-item to-do-item-title&quot;&gt;
                                            &lt;strong&gt;&lt;i class=&quot;fa fa-rocket&quot;&gt;&lt;/i&gt; Jobs&lt;/strong&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-9 col-sm-10 col-xs-8 to-do-title&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(Chicago, IL - Rush)&lt;/span&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-default&quot; title=&quot;Nope&quot; &gt;
                                                    &lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-8 col-sm-9 col-xs-7 col-sm-offset-1 col-xs-offset-1&quot;&gt;Look up hiring contact info for Rush Hospital.&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-8 col-sm-9 col-xs-7 col-sm-offset-1 col-xs-offset-1&quot;&gt;Call and notify hiring contact at Rush Hospital of application to Medical Assistant position&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-8 col-sm-9 col-xs-7 col-sm-offset-1 col-xs-offset-1&quot;&gt;Research others on LinkedIn with the job title Medical Assistant and learn from their work history&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-8 col-sm-9 col-xs-7 col-sm-offset-1 col-xs-offset-1&quot;&gt;Explore if any of your mentors or contacts work at Rushn Hospital&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-8 col-sm-9 col-xs-7 col-sm-offset-1 col-xs-offset-1&quot;&gt; Did you finish the online application to the Medical Assistant job at Rush Hospital?&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-9 col-sm-10 col-xs-8 to-do-title&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Phlebotomist&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(Chicago, IL - Northwestern)&lt;/span&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-default&quot; title=&quot;Nope&quot; &gt;
                                                    &lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-8 col-sm-9 col-xs-7 col-sm-offset-1 col-xs-offset-1&quot;&gt;Research others on LinkedIn with the job title Medical Assistant and learn from their work history&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-8 col-sm-9 col-xs-7 col-sm-offset-1 col-xs-offset-1&quot;&gt;Explore if any of your mentors or contacts work at Rushn Hospital&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-8 col-sm-9 col-xs-7 col-sm-offset-1 col-xs-offset-1&quot;&gt; Did you finish the online application to the Medical Assistant job at Rush Hospital?&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-9 col-sm-10 col-xs-8 to-do-title&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Medical Assistant&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(Chicago, IL - Northwestern)&lt;/span&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-default&quot; title=&quot;Nope&quot; &gt;
                                                    &lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-9 col-sm-10 col-xs-8 to-do-title&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Phlebotomist&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(Chicago, IL - Rush)&lt;/span&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-default&quot; title=&quot;Nope&quot; &gt;
                                                    &lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-8 col-sm-9 col-xs-7 col-sm-offset-1 col-xs-offset-1&quot;&gt;Sent Thank-You Note&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                    &lt;/ul&gt;
                                &lt;/div&gt;

                                &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                    &lt;ul class=&quot;list-group to-dos&quot;&gt;
                                        &lt;li class=&quot;list-group-item to-do-item-title&quot;&gt;
                                            &lt;strong&gt;&lt;i class=&quot;fa fa-building-o&quot;&gt;&lt;/i&gt; Employers&lt;/strong&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-9 col-sm-10 col-xs-8 to-do-title&quot;&gt;&lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Monsanto&lt;/strong&gt;&lt;/a&gt; &lt;span class=&quot;small&quot;&gt;(St. Louis, MO)&lt;/span&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-default&quot; title=&quot;Nope&quot; &gt;
                                                    &lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-8 col-sm-9 col-xs-7 col-sm-offset-1 col-xs-offset-1&quot;&gt;Browse &lt;a href=&quot;#&quot;&gt;Matches&lt;/a&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                        &lt;li class=&quot;list-group-item&quot;&gt;
                                            &lt;div class=&quot;col-md-8 col-sm-9 col-xs-7 col-sm-offset-1 col-xs-offset-1&quot;&gt;Contact Monsanto Alumni&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                            &lt;div class=&quot;col-md-1 col-sm-1 col-xs-2&quot;&gt;
                                                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                &lt;/button&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                        &lt;/li&gt;
                                    &lt;/ul&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;

                            &lt;div class=&quot;col-lg-4 visible-lg&quot;&gt;
                                {{&gt; organisms-bdubs-conversation-small }}
                            &lt;/div&gt;

                            &lt;div class=&quot;col-lg-4 col-sm-12&quot;&gt;
                                {{&gt; organisms-contact-facilitator }}
                            &lt;/div&gt;

                        &lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;