&lt;div id=&quot;theme-wrapper&quot; class=&quot;card-posting&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-employer-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;posting-wrapper&quot;&gt;
                                &lt;div class=&quot;col-lg-8&quot;&gt;
                                    &lt;div class=&quot;main-box clearfix&quot;&gt;
                                        &lt;h1&gt;{{ title }}&lt;/h1&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;row hidden-lg&quot;&gt;
                                    &lt;div class=&quot;col-xs-6 margin-bottom-16&quot;&gt;
                                        {{&gt; organisms-create-to-do-button }}
                                    &lt;/div&gt;
                                    &lt;div class=&quot;col-xs-6 margin-bottom-16 text-right&quot;&gt;
                                        {{&gt; organisms-new-message-button }}
                                    &lt;/div&gt;

                                    &lt;div class=&quot;col-xs-6 margin-bottom-16 text-right&quot;&gt;
                                        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg text-right&quot;&gt;
                                            Contact Later &lt;span class=&quot;fa fa-lightbulb-o&quot;&gt;&lt;/span&gt;
                                        &lt;/button&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;col-xs-6 margin-bottom-16&quot;&gt;
                                        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;
                                            Save for Later &lt;span class=&quot;fa fa-bookmark&quot;&gt;&lt;/span&gt;
                                        &lt;/button&gt;
                                    &lt;/div&gt;

                                    &lt;/div&gt;

                                    &lt;div class=&quot;row&quot;&gt;
                                        &lt;div class=&quot;col-lg-6&quot;&gt;
                                            &lt;div class=&quot;main-box card&quot;&gt;
                                                &lt;h2&gt;Personal Details&lt;/h2&gt;
                                                &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                                    &lt;div class=&quot;col-sm-12&quot;&gt;
                                                        &lt;ul class=&quot;fa-ul no-padding no-image&quot;&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Email: &lt;a href=&quot;#&quot;&gt;sonya.frost@gmail.com&lt;/a&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;School: &lt;strong&gt;Rasmussen College&lt;/strong&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Degree/Program: &lt;strong&gt;Medical Assistant&lt;/strong&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Phone: &lt;strong&gt;(312) 999-9999&lt;/strong&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;col-lg-6&quot;&gt;
                                            &lt;div class=&quot;main-box card-orange card&quot;&gt;
                                                &lt;h2&gt;Job Preferences&lt;/h2&gt;
                                                &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                                    &lt;div class=&quot;col-sm-12&quot;&gt;
                                                        &lt;ul class=&quot;fa-ul no-padding no-image&quot;&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Job Areas: &lt;strong&gt;General Management / Business, Marketing, Project Management&lt;/strong&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Locations: &lt;strong&gt;St. Louis, MO&lt;/strong&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Experience: &lt;strong&gt;1-2 Years&lt;/strong&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;row&quot;&gt;
                                        &lt;div class=&quot;col-lg-12&quot;&gt;

                                            &lt;div class=&quot;row&quot;&gt;
                                                    &lt;iframe src=&quot;https://docs.google.com/gview?url=https%3A//app.betterweekdays.com/sites/default/files/medical_assistant_demo_resume-indianapolis.pdf&amp;embedded=true&quot; style=&quot;width:100%; height:800px;&quot; frameborder=&quot;0&quot;&gt;&lt;/iframe&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4 margin-bottom-16 visible-lg&quot;&gt;
                                    {{&gt; organisms-create-to-do-button }}
                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4 margin-bottom-16 visible-lg&quot;&gt;
                                    {{&gt; organisms-new-message-button }}
                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4 margin-bottom-16 visible-lg&quot;&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;
                                        Contact Later &lt;span class=&quot;fa fa-lightbulb-o&quot;&gt;&lt;/span&gt;
                                    &lt;/button&gt;
                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4 margin-bottom-16 visible-lg&quot;&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;
                                        Save for Later &lt;span class=&quot;fa fa-bookmark&quot;&gt;&lt;/span&gt;
                                    &lt;/button&gt;
                                &lt;/div&gt;

                            &lt;/div&gt;
                        &lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

{{&gt; organisms-create-to-do-modal }}
{{&gt; organisms-new-message-modal }}
